
<!--JS-->
<script type="text/javascript" src="/static/common/jquery3.2.1.min.js"></script>
<script type="text/javascript" src="/static/common/bootstrap3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/common/common.js"></script>
<script type="text/javascript" src="/static/admin/js/user.js"></script>
<!--<script type="text/javascript" src="/static/admin/js/role.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/menu.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/auth.js"></script>-->
<!--<script type="text/javascript" src="/static/common/jquery.form.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/user.js"></script>-->
</html>