<!DOCTYPE HTML>
<html>
<head>
<title>合作媒体 </title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/index/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
<!-- start js -->
<script type="text/javascript" src="/static/index/js/move-top.js"></script>
<script type="text/javascript" src="/static/index/js/easing.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!-- Add fancyBox main JS and CSS files -->
<script src="/static/index/js/jquery.magnific-popup.js" type="text/javascript"></script>
<link href="/static/index/css/magnific-popup.css" rel="stylesheet" type="text/css">
<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
</head>
<body>
<div class="single-header">
  <div class="wrap">
    <div class="logo"> <a href="index.html"><img src="/static/index/images/logo.png" alt=""/></a> </div>
    <div class="header-right">
      <div id='cssmenu'>
        <ul>
          <li><a href='about'><span>关于我们</span></a></li>
          <li class='active'><a href='index.html'><span>服务</span></a></li>
          <li style="display:none;" class='has-sub'><a href='works.html'><span>媒体</span></a></li>
          <li class='has-sub'><a href='news.html'><span>解决方案</span></a></li>
          <li class='active last' ><a href='contact.html'><span>联系我们</span></a></li>
        </ul>
      </div>
      <div class="search_box">
        <form>
          <input type="text" value="搜索" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '搜索';}">
          <input type="submit" value="">
        </form>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="main">
  <div class="grid-box" id="deign">
    <div class="wrap">
      <h4 class="single-head">Web Design</h4>
      <div class="section group example">
        <div class="col_1_of_2 span_1_of_2"> <a class="popup-with-zoom-anim" href="#small-dialog1"><img src="/static/index/images/work-img.jpg" title="continue" alt=""/></a>
          <div id="small-dialog1" class="mfp-hide">
            <div class="pop_up2"> <img src="/static/index/images/work-img.jpg" title="continue" alt=""/>
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <h3>Lorem Ipsum is simply dummy text </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col_1_of_2 span_1_of_2"> <a class="popup-with-zoom-anim" href="#small-dialog2"><img src="/static/index/images/work-img1.jpg" title="continue" alt=""/></a>
          <div id="small-dialog2" class="mfp-hide">
            <div class="pop_up2"> <img src="/static/index/images/work-img1.jpg" title="continue" alt=""/>
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <h3>Lorem Ipsum is simply dummy text </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="grid-box1" id="icons">
    <div class="wrap">
      <h4 class="single-head">Icons</h4>
      <div class="section group example">
        <div class="col_1_of_2 span_1_of_2"> <a class="popup-with-zoom-anim" href="#small-dialog4"><img src="/static/index/images/work-img2.jpg" title="continue" alt=""/></a>
          <div id="small-dialog4" class="mfp-hide">
            <div class="pop_up2"> <img src="/static/index/images/work-img2.jpg" title="continue" alt=""/>
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <h3>Lorem Ipsum is simply dummy text </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col_1_of_2 span_1_of_2"> <a class="popup-with-zoom-anim" href="#small-dialog5"><img src="/static/index/images/work-img3.jpg" title="continue" alt=""/></a>
          <div id="small-dialog5" class="mfp-hide">
            <div class="pop_up2"> <img src="/static/index/images/work-img3.jpg" title="continue" alt=""/>
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <h3>Lorem Ipsum is simply dummy text </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="grid-box2" id="illustrations">
    <div class="wrap">
      <h4 class="single-head">Illustrations</h4>
      <div class="section group example">
        <div class="col_1_of_2 span_1_of_2"> <a class="popup-with-zoom-anim" href="#small-dialog6"><img src="/static/index/images/work-img4.jpg" title="continue" alt=""/></a>
          <div id="small-dialog6" class="mfp-hide">
            <div class="pop_up2"> <img src="/static/index/images/work-img4.jpg" title="continue" alt=""/>
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <h3>Lorem Ipsum is simply dummy text </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col_1_of_2 span_1_of_2"> <a class="popup-with-zoom-anim" href="#small-dialog7"><img src="/static/index/images/work-img5.jpg" title="continue" alt=""/></a>
          <div id="small-dialog7" class="mfp-hide">
            <div class="pop_up2"> <img src="/static/index/images/work-img5.jpg" title="continue" alt=""/>
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <h3>Lorem Ipsum is simply dummy text </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="grid-box3" id="misc">
    <div class="wrap">
      <h4 class="single-head">Miscellaneous</h4>
      <div class="section group example">
        <div class="col_1_of_2 span_1_of_2"> <a class="popup-with-zoom-anim" href="#small-dialog8"><img src="/static/index/images/work-img7.jpg" title="continue" alt=""/></a>
          <div id="small-dialog8" class="mfp-hide">
            <div class="pop_up2"> <img src="/static/index/images/work-img7.jpg" title="continue" alt=""/>
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <h3>Lorem Ipsum is simply dummy text </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col_1_of_2 span_1_of_2"> <a class="popup-with-zoom-anim" href="#small-dialog9"><img src="/static/index/images/work-img6.jpg" title="continue" alt=""/></a>
          <div id="small-dialog9" class="mfp-hide">
            <div class="pop_up2"> <img src="/static/index/images/work-img6.jpg" title="continue" alt=""/>
              <h2>Lorem Ipsum is simply dummy text</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <h3>Lorem Ipsum is simply dummy text </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
      <div class="copy">
        <div class="about_us">
          北京神州华泰科技有限公司© 2014-2017, All Rights Reserved
        </div>
      </div>
</div>
<a href="#" id="toTop" style="display: none;"><span id="toTopHover" style="opacity: 1;"></span></a>
<script>
$(function(){
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        $(function () {
            $(window).scroll(function(){
                if ($(window).scrollTop()>100){
                    $("#toTop").fadeIn(1500);
                }
                else
                {
                    $("#toTop").fadeOut(1500);
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#toTop").click(function(){
                $('body,html').animate({scrollTop:0},1000);
                return false;
            });
        });
    });
</script>
</body>
</html>